
@{
    ViewBag.Title = "Help";
}

<h2>Како да ја употребите ArtNavigate</h2>
<h3>Преглеуванје на уметнички галерии</h3>
<p>За да ги прегледувате уметничките галерии кликнувате на копчето "Уметнички галерии".</p>
<h3>Пребарување на уметнички галерии</h3>
<p>Во полето за пребарување можете да внесете име,адреса или град и апликацијата ќе ви ги прикаже сите одговори кои ги нашла.</p>
<h3>Најдуванје на својата локација</h3>
<p>При клик на копчето на мапата апликацијата ќе ви ја покаже вашата сегашна локација.</p>
