
@{
    ViewBag.Title = "HelpEnglish";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}

<h2>How to use the ArtNavigate</h2>
<h3>View the art galeries</h3>
<p>Click the Art galeries button on the navigation bar to open the list of the art galeries.</p>
<h3>Search for a specific art galerie</h3>
<p>You can use the search bar to search the name, city or adress of the galery you are looking for.</p>
<h3>Find your location</h3>
<p>Click the button on the map to find your current location on the map.</p>

